@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes hover {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(6px, -6px);
  }

  50% {
    transform: translate(0, -10px);
  }

  75% {
    transform: translate(-6px, -6px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-float {
  animation: hover 12s ease-in-out infinite;
}